p.error {
  color: red;
}
p.success {
  color: #6e9e6e;
}
p.success.feedback {
  border: 1px dashed #6e9e6e;
}

/* parent child selection - notice the space to find an embedded child selector */
/* div .error {
  color: red;
} */

/* attribute selector for an anchor tag such as `class` or `href` */
/* asteric for partial match, none for full match, $ for end in match */
a[href*="yahoo.com"] {
  background-color: green;
}
